<div class="bar">
  <div>
    <%= link_to 'Add New Contact', new_contact_path, class: "btn btn-teal" %>
  </div>
  <div>
    <input type="text" placeholder="name, email, phone, org etc.">
    <button class="btn btn-teal">Search</button>
  </div>
</div>