<div class="bar">
  <div>
    <%= link_to 'Add New Contact', new_contact_path, class: "btn btn-teal" %>
  </div>
  <div>
    <%= form_with url: contacts_search_url , method: :get, local: true do |form| %> 
      <%= form.search_field :phrase, placeholder: "name, email, phone, org" %>
      <%= form.submit "search", class: "btn btn-teal" %>
    <% end %> 
  </div>
</div>
